* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.welcome {
  display: flex;
  align-items: center;
  padding: 3rem 5rem;
  gap: 1rem;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.heading {
  font-size: 3rem;
  color: teal;
}
.desc {
  font-size: 1.5rem;
}
.right {
  width: 50%;
}
.right img {
  width: 100%;
  border-radius: 10px;
}
